<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BotToken" value="484210242:AAFApjVLQ1Hnnyu6m9SUYwpbFV--x3fwb44"/>
    <add key="payToken" value="381764678:TEST:3252"/>
    <add key="useOnlyBehavior" value="false"/>
  </appSettings>
</configuration>